# Data clean
### Collecting data with APIs
I explored Zillow.com from Nasdaq data link for the data of house price.

In [31]:
import quandl
from pathlib import Path
import os
from dotenv import load_dotenv  # if missing this module, simply run `pip install python-dotenv`
import pandas as pd

load_dotenv()
api_key = os.getenv('NASDAQ_API_KEY')

In [16]:
quandl.ApiConfig.api_key = api_key

### There three tables of data
data1 includes: house type (indicator_id), address zipcode (region_id), date of the information (date) and target value of house pricing (value).
data2 includes: indicator

In [27]:
data1 = quandl.get_table('ZILLOW/DATA', indicator_id = 'ZSFH')

/opt/anaconda3/lib/python3.9/site-packages/quandl/get_table.py:38: UserWarning: To request more pages, please set paginate=True in your         quandl.get_table() call. For more information see our documentation:         https://github.com/quandl/quandl-python/blob/master/FOR_ANALYSTS.md#things-to-note
  warnings.warn(Message.WARN_PAGE_LIMIT_EXCEEDED, UserWarning)

In [28]:
data2 = quandl.get_table("ZILLOW/INDICATORS", paginate=True)

In [29]:
data3 = quandl.get_table("ZILLOW/REGIONS", paginate=True)

In [38]:
data_all = pd.read_csv('ZILLOW_DATA.csv')

In [40]:
data_ZSFH = data_all[data_all.indicator_id == 'ZSFH']

In [52]:
data_ZSFH.head()

    indicator_id  region_id        date     value
266         ZSFH      92576  2021-03-31  377507.0
267         ZSFH         34  2020-06-30  126755.0
268         ZSFH      61790  2021-04-30  604923.0
559         ZSFH      61790  2021-03-31  602013.0
560         ZSFH          6  2020-06-30  134568.0

In [65]:
data_ZSFH.sort_values(by = 'date')

         indicator_id  region_id        date      value
25669052         ZSFH      33102  1996-01-31    65957.0
26977398         ZSFH      37410  1996-01-31    54744.0
1215684          ZSFH      71158  1996-01-31   132968.0
50675501         ZSFH        781  1996-01-31    52652.0
19257238         ZSFH      74634  1996-01-31   117709.0
...               ...        ...         ...        ...
9842619          ZSFH     342733  2022-07-31  1322635.0
10866493         ZSFH      92321  2022-07-31   165155.0
9842616          ZSFH     417787  2022-07-31   735670.0
10866479         ZSFH      61867  2022-07-31   887217.0
9815500          ZSFH     764277  2022-07-31   256704.0

[19391128 rows x 4 columns]